@mixin flex($justify, $align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  text-align: center;
  list-style: none;
}

#root {
  width: 100vw;
  height : 100vh;
  background-color: #ccc;

  @include flex(center, center);

  #ItemsOutbox{
    position: relative;
    width: 700px;
    height: 400px;
    outline: 5px solid black;
    overflow: hidden;

    #slideUl {
      outline: 1px solid #fff;
      height: 400px;
      display: flex;
      position:  absolute;
      top: 0; 
      left: 0;
  
      li{
        width: 700px;
        height: 400px;
      }
      .slideItems1 {
        background-color: aqua;
      }
      .slideItems2 {
        background-color: #777;
      }
      .slideItems3 {
        background-color: red;
      }
    }
  }
}